.container{
  position: relative;
  height: 100%;
  perspective: 380px;
  perspective-origin: bottom;
}

.table{
  background: linear-gradient(#ad5c5c 15%,26%, #dc7575 33%);
  height: 200%;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(30deg);
  width: 100%;
}


.background{
  background:linear-gradient(#59606f 6%, 15%, #373b48 33%);
  height: 100%;
}






