.cup_wrapper {
  position: relative;
}

.cup {
  height: 130px;
  width: 90px;
  background: radial-gradient(closest-corner at 79% 12%, #ce3d3d 27%, #982323 240%);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  transform: translate(0px, 0px);
  position: relative;
  box-shadow: 0px 7px 15px -4px rgb(107 56 56 / 76%);
  color: white;
  font-size: 35px;
  text-align: center;
}




